.input-group {
    width: 50%;
}
.header {
    background-image: url("img/backgrounds/headerBG.jpg");
    height: 300px;
}
.registrationUnit {
    text-shadow: 2px 2px 2px black;
    display: block;
    height: 40px;
    color: white;
    width: 150px;
    margin-left: 60%;
    margin-bottom: 10%;
    padding: 8px;
    border-radius: 20px;
    text-align: center;
    outline: 3px solid gray;
    transition-duration: 300ms;
}
.registrationUnit:hover {
    transition-duration: 300ms;
    outline: 3px solid white;
}
.title {
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
    position: relative;
    right: 15px;
    font-size: 30pt;
    text-align: center;
}
.logo {
    background-color: antiquewhite;
    display: flex;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition-duration: 300ms;
    outline: 3px solid black;
}
.logo:hover {
    transition-duration: 300ms;
    outline: 3px solid lightblue;
}
.container {
    padding-top: 50px;
}
.menuItem {
    text-shadow: 3px 3px 3px black;
    text-decoration: none;
    color: white;
    text-align: center;
    outline: 3px solid gray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.menuItem:hover {
    color: white;
    text-decoration: none;
    transition-duration: 300ms;
    outline: 3px solid white;
}
.menu {
    width: 100%;
}
.wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
}
.activeUnit {
    background-color: antiquewhite;
    text-decoration: none;
}
.registrationField {
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    width: 50% !important;
}
.regContainer {
    flex-wrap: wrap;
    max-width: 1000px !important;
    min-width: 500px !important;
}
.centerClass {
    display: flex;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    align-self: center !important;
    vertical-align: middle !important;
}
input[type="submit" i] {
    margin: auto;
}
.itemGood {
    transition-duration: 300ms;
    border-radius: 10px;
    border: 1px solid white;
    width: 200px;
    height: 250px;
    background-color: black;
    color: wheat;
    margin: 20px;
    text-align: center;
}
.itemInfo {
    display: flex;
    transition-duration: 300ms;
    border-radius: 0px 0px 10px 10px;
    margin-top: 200px;
    width: 199x;
    height: 49px;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1;
}
.itemName {
    margin-left: 50px;
    color: grey;
    width: 100px;
    hyphens: auto;
    text-align: center;
}
.itemGood:hover .itemInfo {
    transition-duration: 300ms;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}
.itemGood:hover .itemName {
    transition-duration: 300ms;
    color: white;
}
.itemGood:hover .itemCost {
    transition-duration: 300ms;
    border: 1px solid white;
}
.itemCost:hover {
    background-color: white;
    color: black;
}
.itemCost {
    font-size: 14px;
    border: 1px solid black;
    transition-duration: 300ms;
    display: inline;
    position: relative;
    border-radius: 10px;
    top: 20px;
    height: 25px;
    width: 45px;
    background-color: black;
}
a {
    text-decoration: none !important;
}