.input-group {
    width: 50%;
}
.header {
    background-image: url("img/backgrounds/headerBG.jpg");
    height: 300px;
}
.registrationUnit {
    text-shadow: 2px 2px 2px black;
    display: block;
    height: 40px;
    color: white;
    width: 150px;
    margin-left: 60%;
    margin-bottom: 10%;
    padding: 8px;
    border-radius: 20px;
    text-align: center;
    outline: 3px solid gray;
    transition-duration: 300ms;
}
.registrationUnit:hover {
    transition-duration: 300ms;
    outline: 3px solid white;
}
.title {
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
    position: relative;
    right: 15px;
    font-size: 30pt;
    text-align: center;
}
.logo {
    background-color: antiquewhite;
    display: flex;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition-duration: 300ms;
    outline: 3px solid black;
}
.logo:hover {
    transition-duration: 300ms;
    outline: 3px solid lightblue;
}
.container {
    padding-top: 50px;
}
.menuItem {
    text-shadow: 3px 3px 3px black;
    color: white;
    text-align: center  ;
    outline: 3px solid gray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.menuItem:hover {
    transition-duration: 300ms;
    outline: 3px solid white;
}
.menu {
    width: 100%;
}
.wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: gray;
}
.activeUnit {
    background-color: antiquewhite;
    text-decoration: none;
}
.registrationField {
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    width: 50% !important;
}
.regContainer {
    flex-wrap: wrap;
    max-width: 1000px !important;
    min-width: 500px !important;
}
.centerClass {
    display: flex;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    align-self: center !important;
    vertical-align: middle !important;
}
input[type="submit" i] {
    margin: auto;
}
.itemGood {
    width: 300px;
    height: 500px;
    background-color: gray;
}